:root {
  --bs-primary: #ff0000;
  --bs-primary-rgb: 255, 0, 0;

  --bs-link-color: #ff0000;
  --bs-link-hover-color: #cc0000;

  --bs-primary-text-emphasis: #660000;
  --bs-primary-bg-subtle: #ffe5e5;
  --bs-primary-border-subtle: #ffb3b3;

  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #ff0000;
}

.nav-pills .nav-link.active {
  background-color: var(--bs-primary);
  color: var(--bs-nav-pills-link-active-color);
}